# This is the libvirt network definition
<network>
  <name>ovs-network</name>
  <forward mode='bridge'/>
  <bridge name='br-int0'/>
  <virtualport type='openvswitch'/>
  <portgroup name='no-vlan' default='yes'>
  </portgroup>
  <portgroup name='vlan-100'>
    <vlan>
      <tag id='100'/>
    </vlan>
  </portgroup>
  <portgroup name='vlan-200'>
    <vlan>
      <tag id='200'/>
    </vlan>
  </portgroup>
  <portgroup name='trunk'>
    <vlan trunk='yes'>
      <tag id='200'/>
      <tag id='300'/>
    </vlan>
  </portgroup>
</network>

# Define and start the network
virsh net-define libvirt-vlans.xml
virsh net-start ovs-network

# This goes into the domains
<interface type='network'>
  <source network='ovs-network' portgroup='vlan-02'/>
</interface>

# After starting domain check settings
ovs-vsctl list port vnet1
